%p#notice= notice

%p
  %b Name:
  = @shop_info.name
%p
  %b Address:
  = @shop_info.address
%p
  %b Url:
  = @shop_info.url
%p
  %b Lat:
  = @shop_info.lat
%p
  %b Lng:
  = @shop_info.lng
%p
  %b Tel:
  = @shop_info.tel
%p
  %b Min Price:
  = @shop_info.min_price
%p
  %b Max Price:
  = @shop_info.max_price
%p
  %b Shop category:
  = @shop_category.category
%p
  %b Photo:
  = image_tag shop_photo_path(@shop_info.id)

%ul
  - @shop_info.casts.each do |cast|
    %li
      = cast.name
  / %li
  /   = form_for [@shop_info, @project.casts.build] do |f|
= link_to 'キャスト一覧', shop_info_casts_path(@shop_info)

= link_to 'Edit', edit_shop_info_path(@shop_info)
\|
= link_to 'Back', shop_infos_path
