%h1 Listing casts

%table
  %tr
    %th Shop info
    %th Play kind
    %th Name
    %th Age
    %th Tall
    %th Bust
    %th Cup
    %th Waist
    %th Hip
    %th Photo
    %th Free after
    %th
    %th
    %th

  - @casts.each do |cast|
    %tr
      %td= cast.shop_info
      / %td= PlayKind.find(cast.play_kind_id).kind
      %td= cast.name
      %td= cast.age
      %td= cast.tall
      %td= cast.bust
      %td= cast.cup
      %td= cast.waist
      %td= cast.hip
      %td= link_to '店舗写真', cast_photo_path(cast.id)
      %td= cast.free_after
      %td= link_to 'Show', shop_info_cast_path(@shop_info.id, cast.id)
      %td= link_to 'Edit', edit_shop_info_cast_path(@shop_info.id, cast.id)
      %td= link_to 'Destroy', shop_info_cast_path(@shop_info.id, cast.id), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cast', new_shop_info_cast_path
