%h1 Listing casts

%table
  %tr
    %th Shop info
    %th Play kind
    %th Name
    %th Age
    %th Tall
    %th Bust
    %th Cup
    %th Waist
    %th Hip
    %th Photo
    %th Free after
    %th Price
    %th
    %th
    %th

  - @casts.each do |cast|
    %tr
      %td= cast.shop_info
      %td= cast.play_kind
      %td= cast.name
      %td= cast.age
      %td= cast.tall
      %td= cast.bust
      %td= cast.cup
      %td= cast.waist
      %td= cast.hip
      %td= cast.photo
      %td= cast.free_after
      %td= cast.price
      %td= link_to 'Show', cast
      %td= link_to 'Edit', edit_cast_path(cast)
      %td= link_to 'Destroy', cast, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cast', new_shop_info_cast_path
